<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>VAXT | Here you will find print web photography vidéo & art.</title>
    <meta name="description" content="Vaxt is multydisciplinary studio for creative people & entrepreneurs. Let us take care of your image.">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="home.css">
  </head>
  <body>

	<div class="header">
	  	<div class="logo">
	  		<%= image_tag("VAXT-LOGO-VERT.png", size: "50x30", alt: "vaxt logo", class: "logo") %>
	  	</div>

	    <div class="buttons-align">
	        <ul class="buttons-align">
	            <li> <a href="#" target="_blank" class="btn-green" >BO</a></li>
	            <li> <a href="/home/library" class="btn-green" >UT</a></li>
	            <li> <a href="#" target="_blank" class="btn-green" >ON</a></li>
	        </ul>
	    </div>

	    <div class="dropdown avatar">
	    	<a href="#" class="dropbtn" ><%= image_tag("lale.png", size: "50x50", alt: "lale", class: "avatar") %></a>
	    	<div>
	    		<a href="#">01</a>
	    		<a href="#">02</a>
	    		<a href="#">03</a>
	    	</div>
	    </div>
	</div>


	<div class="middle">
		<div class="card-user">
		  <%= image_tag("titouan.png", size: "80x80", alt: "lale", class: "avatar") %>
		  <div class="card-user-infos">
		    <h2>Titouan</h2>
		    <p>Something about someone.</p>
		  </div>
		</div>

		<div class="card-user">
		  <%= image_tag("francois.png", size: "80x80", alt: "lale", class: "avatar") %>
		  <div class="card-user-infos">
		    <h2>François</h2>
		    <p>Something about someone.</p>
		  </div>
		</div>
	</div>
    

	<div class="footer">
      <ul class="logo-rs">
        <li> <a href="https://www.facebook.com/VAXT.fr/?ref=bookmarks" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li> <a href="https://www.youtube.com/channel/UCc15iu40dulMDj1YWMNzAKg?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li> <a href="https://www.instagram.com/va_xt/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li> <a href="https://github.com/clydeat/" target="_blank"><i class="fas fa-code-branch"></i></a></li>
      </ul>
    </div>

</body>
</html>
