<div class="container">
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Titouan</label>
      <div class="tab-content">
      <div class="card ">
        <center>
        <%= image_tag("titouan.png", alt: "Titouan", class: "avatar-big") %>
        <h2>Titouan</h2>
        <p>@Titouax</p>
        <p>Something about someone.</p>
        </center>
      </div>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">François</label>
      <div class="tab-content">
      	<div class="card ">
      	<center>
        <%= image_tag("francois.png", alt: "François", class: "avatar-big") %>
    		<h2>François</h2>
        <p>@François D.</p>
        <p>Something about someone.</p>
        </center>
        </div>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
      <label for="tab-3" class="tab-label">Clyde</label>
      <div class="tab-content">
      	<div class="card ">
		    <center>
        <%= image_tag("lale.png", alt: "Clyde", class: "avatar-big") %>
        <h2>Clyde</h2>
        <p>@Clyde</p>
        <p>Something about someone.</p>
        </center>
        </div>
      </div>
    </div>
  </div>
</div>
