<<<<<<< HEAD
<section class="grid-container">

  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Tab One</label>
      <div class="tab-content">Content One</div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">Tab Two</label>
      <div class="tab-content">Content Two</div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
      <label for="tab-3" class="tab-label">Tab Three</label>
      <div class="tab-content">Content Three</div>
    </div>
  </div>

=======
>>>>>>> master

  <div class="grid-container">
    <div class="card">
      <img src="" alt="">
      <h3>Titre des card</h3>
      <p>voici une description courte pour les card</p>
    </div>
    <div class="card-1 card">
      <img src="" alt="">
      <h3>Titre des card</h3>
      <p>voici une description courte pour les card</p>
    </div>
    <div class="card-2 card">
      <img src="" alt="">
      <h3>Titre des card</h3>
      <p>voici une description courte pour les card</p>
    </div>
  </div>
