.card {
  border: 1px solid black;
  padding: 14px 16px;
  background-color: white;
  width: 159px;
  margin: 20px;
}

.card-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-test {
  border: 1px solid black;
	width: 385px;
	height: 187px;
  margin: 27px 57px ;
}

.long-card {
  border: 1px solid black;
	width: 500px;
	height: 242px;
	margin-top: 20px;
  background: linear-gradient(to right, #bfe9ff, #ff6e7f);
}
.long-card-2 {
  border: 1px solid black;
	width: 500px;
	height: 242px;
	margin-top: 20px;
  background: linear-gradient(to right, #E100FF, #7F00FF);
}
.long-card-3 {
  border: 1px solid black;
	width: 500px;
	height: 242px;
	margin-top: 20px;
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
}

.tab-content {
	display: flex;
}
