* { box-sizing: border-box; }
.avatar-big {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.tabs {
  width: 400px;
  position: relative;
  margin: 3rem 0;
  height: 14.75rem;
  border: 1px solid;
  }

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after { clear: both; }

.tab { float: left; }

.tab-switch { display: none; }

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  color: #80F624;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label:hover {
  transition: all 0.25s;
  opacity: 0.5;
}


.tab-content {
  color: black;
  width: 400px;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  opacity: 0;
  transition: all 0.35s;
}

.tab-switch:checked + .tab-label {
  color: black;
  border-bottom: 0;
  transition: all 0.35s;
  z-index: 2;
  top: -0.0625rem;
}

.tab-switch:checked + .tab-label:hover { top: -0.0625rem; }

.tab-switch:checked + .tab-label + .tab-content {
  opacity: 1;
  transition: all 0.35s;
  z-index: 3;
}

.tabs {
	width: 700px;
  margin: 100px auto;
  background-color: white;
  height: auto;
}
