body {
	background-image: "VAXT-SITE-FOND-08.jpg";
	background-color: #E1E2E1;
	color: #333333;
	font-size: 15px;
	font-family: courier;
}

h1 {
  font-size: 25px;
  font-family: 'Hanalei Fill', cursive;
  color: #62FAFB;
}

p {
  font-family: arial;
}

a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	opacity: 0,8;
}

header {
	width: 900px;
	padding: 40px;
	background-color: white;
	margin: 10px auto;
}
.title {
	width: 900px;
	padding: 40px;
	background-color: white;
	margin: 10px auto;
}
.milieu {
	width: 900px;
	padding: 40px;
	background-color: white;
	margin: 10px auto;
}


footer {
	width: 900px;
	padding: 40px;
	background-color: white;
	margin: 10px auto;
}

strong

#logo
#imageronde {
	border-radius: 50%;
}

.footer

