.header {
	width: 700px;
	padding: 10px;
	margin: 20px auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.logo {
}
.buttons-align {
    padding-left: 0px;
}
.buttons-align > li {
	align-items: center;
	display: inline-block;
	margin: 10px;
}
.btn-green {
	padding: 5px 5px;
	color: black;
	list-style: none;
	text-decoration: none;
	border-bottom: 1px solid;
}
.btn-green:hover {
	opacity: 0.5;
}
.avatar {
	border-radius: 50%;
}


.footer {
	width: 700px;
	padding: 10px;
	margin: 20px auto;
}

.logo-rs {
	list-style: none;
    text-align: center;
    padding-left: 0px;
}

.logo-rs > li {

	display: inline-block;
	margin: 10px;
}


body {
	font-size: 14px;
	background-image: url("VAXT-SITE-FOND-08.jpg");
	background-size: 1440px;
	font-family: 'Josefin Sans', sans-serif;

}

.fab {
	color: black;
}
.fas {
	color: black;
}
.fab:hover {
	opacity: 0.5;
}
.fas:hover {
	opacity: 0.5;
}

p {
}

.content {
	width: 700px;
	height: 400px;
	padding: 10px;
	margin: 20px auto;
	display: flex;
	align-items: center;
	font-family: 'Crimson Text', serif;

}

/* DEBUT CSS du Dropwdown */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		margin-top: 10px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
		background-color: rgb(255, 255, 255);
		padding-top: 10px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* FIN CSS du Dropdown */
