<div class="footer">
  <ul class="logo-rs">
    <li> <a href="https://www.facebook.com/VAXT.fr/?ref=bookmarks" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li> <a href="https://www.youtube.com/channel/UCc15iu40dulMDj1YWMNzAKg?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a></li>
    <li> <a href="https://www.instagram.com/va_xt/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li> <a href="https://github.com/clydeat/" target="_blank"><i class="fas fa-code-branch"></i></a></li>
  </ul>
</div>
