<div class="header">
    <div class="logo">
      <%= image_tag("VAXT-LOGO-VERT.png", size: "50x30", alt: "vaxt logo", class: "logo") %>
    </div>

    <div class="buttons-align">
        <ul class="buttons-align">
            <li> <a href="#" target="_blank" class="btn-green" >BO</a></li>
            <li> <a href="/home/library" class="btn-green" >UT</a></li>
            <li> <a href="#" target="_blank" class="btn-green" >ON</a></li>
        </ul>
    </div>

    <button type="button" class="btn-primary-outline" name="button">Primary</button>

    <div class="dropdown avatar-small">
      <a href="#" class="dropbtn" ><%= image_tag("lale.png", size: "50x50", alt: "lale", class: "avatar-small") %></a>
      <div class="dropdown-content">
        <a href="#">BU</a>
        <a href="#">UT</a>
        <a href="#">ON</a>
      </div>
    </div>
</div>
