<div class="navbar">
    <div class="navbar-logo">
      <%= image_tag("VAXT-LOGO-VERT.png", size: "50x30", alt: "vaxt logo", class: "navbar-logo") %>
    </div>

    <div class="buttons-align">
        <ul class="buttons-align">
            <li> <a href="https://www.youtube.com/watch?v=s6ylqpyik9M&frags=pl%2Cwn" target="_blank" class="btn-green" >BO</a></li>
            <li> <a href="https://www.youtube.com/watch?v=g9NuJ2ot9os" class="btn-green" >UT</a></li>
            <li> <a href="https://www.youtube.com/watch?v=ek5RCGx0Y68" target="_blank" class="btn-green" >ON</a></li>
        </ul>
    </div>

    <button type="button" class="btn-primary-outline" href="https://www.google.fr/" name="button">Primary</button>

    <div class="dropdown avatar-small navbar-right">
      <a href="#" class="dropbtn" ><%= image_tag("lale.png", alt: "lale", class: "avatar-small") %></a>
      <div class="dropdown-content">
        <a href="https://www.youtube.com/watch?v=gnuMUGNRSu4" target="_blank" >BU</a>
        <a href="https://www.youtube.com/watch?v=pvAhRcUofDk&frags=pl%2Cwn" target="_blank" >UT</a>
        <a href="https://www.youtube.com/watch?v=xQtZHg319aU" target="_blank" >ON</a>
      </div>
    </div>
</div>
